select {
  background: url("img/expand.svg");
  background-color: white;
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%;
  background-size: 1em 1em;
  padding: 0.2em 2em 0.2em 0.2em;
  margin: 0.2em;
  width: auto;
  font-size: 1em;
  text-align: left;
  color: black;
  border: solid black 1px;
  border-radius: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

select:active, select:focus {
  background-color: rgba(173, 216, 230, 0.5);
}

select:hover {
  background-color: rgba(173, 216, 230, 1);
}
