/*
call-viewer
Copyright (C) 2018 Anton Karmanov

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@import url("style-select.css");

html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

body {
  font-family: sans;
  background-color: lightsteelblue;
  overflow-x: hidden;
}

.toolbar form {
  display: inline-block;
}

.toolbar {
  margin: 0px auto 2em auto;
  width: 100%;
  box-shadow: 0.3em 0.3em 0.5em rgba(0, 0, 0, 0.5);
  background-color: white;
}

.navigation {
  padding: 0.5em;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.navigation a {
  color: black;
  text-decoration: none;
}

.navigation a img {
  vertical-align: middle;
  width: 0.8em;
}

.card {
  margin: 1.5em auto;
  border-collapse: collapse;
  max-width: 90%;
  background-color: white;
  box-shadow: 0.3em 0.3em 0.8em rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0.3em 0.3em 1.2em rgba(0, 0, 0, 0.9);
}

.card td {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.card .txt {
  padding: 1em;
  width: 0;
}

.spectrogram-cell {
  background-repeat: no-repeat;
  background-color: black;
  background-position: left bottom;
  background-size: auto 100%;
  width: 100%;
}

.card audio {
  display: block;
  padding: 0px;
  margin: 0px;
  width: 100.1%; // Dirty hack to remove gap on some browsers
  height: auto;
  max-height: 2em;
}
